@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --inProgress: ;
    --aprovado: ;
    --red: #f74464;
    --DarkFull: #374258;
    --GrayDark: #6a7285;
    --gray: #c4c4c4;
    --white: #f3f3f3;
    --DarkBlue: #457b9d;
    --grayishBlue: hsl(229, 6%, 66%);  
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative; 
    flex-flow: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

main {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background: #addbf8;
    display: flex;
}


.header { grid-area: header; }
.dashboard { grid-area: dashboard; }
.diary { grid-area: diary; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header diary'
      'dashboard dashboard dashboard diary'
      'dashboard dashboard dashboard diary';
    gap: 10px;
}

.header {
   position: sticky;
   display: flex; 
   width: 100%;
   justify-content: center;
}
.dashboard {
    display: flex;
    width: 100%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: minmax(100px, auto);
}

.diary {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: static;
    text-align: center;
    height: 100vh;
    background:  var(--DarkBlue) ;
    border-radius: 20px 0 0 20px;
    box-shadow: 5px 0 0 -5px rgba(0,0,0,0.5);
}

.diary .title {
    margin-top: 20px;
    color:#ffffff;
}


/* .cont_photo {
    position: relative;
    width: 300px;
    height: 440px;
    overflow: hidden;
    background-color: #eee;
    border-radius:5px;
    top: -20px;
    float: left;
    z-index: 2;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 0.5s; 
    box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.5);  
}
.cont_img_back > img {
    width: 100%;
    opacity: 0.7;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 1s;
}
  
.cont_img_back:hover > img {
    transform: scale(1.5);
} */