@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.card {
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 50px;
	overflow: hidden;
	width: 300px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
}

.card:hover {
    transform: scale(1.2);
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
}

.card h2 {
	letter-spacing: 1px;
}

.card-title {
	background-color: #2A265F;
	color: #fff;
	padding: 24px;
	max-height: 240px;
}

.card-title h2 {
	position:relative;
	color: #fff;
	font-size: 20px;
	margin-top: 5px;
	text-decoration: none;
}

.card-title h3 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 15px;
}

.card-info {
	padding: 30px;
	position: relative;
	color: #14213d;
	text-decoration: none;
}

.card-info .card-display {
	display: inline;
	justify-content: center;
}

.card-info .card-display i {
    position: absolute;
    color: var(--DarkBlue);
    left: 10px;
    font-size: 24px;
    height: 50px;
    width: 50px;
    line-height: 50px;
}
.card-info .card-display h3 {
	justify-content: center;
	margin-left: 10px;
}
.card:hover .card-display {
	display: none;
}

.card .card-info .card-hover {
	display: none;
}

.card:hover .card-info .card-hover{
	left: 0;
	top: 0;
    transform: scale(1.6);
    position: absolute;
	display: block;
	-o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 1s;
}

.card:hover .card-info .card-hover:hover {
	transform: scale(1.9);
	-o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 1s;
}

.card:hover .card-hover:hover .card-info {
	margin: 0;
}
.card:hover .card-hover .hover-hover {
	display: none;
}
.card:hover .card-hover:hover .hover-hover {
	display: block;
	position: absolute;
	text-align: center;
	justify-content: center;
	justify-items: center;
	font-size: 14px;
}

.card-hover:hover::before {
	opacity: 1;
}

.card:hover .card-hover:hover .card-title {
	display: none;
}
.card-hover img {
	left: 0;
	top: 0;
    position: absolute;
    align-items: center;
    width: 140px;

}

.btn {
	border: 0;
	border-radius: 30px;
	color: #2A265F;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	letter-spacing: 1px;
}